<div class="row">
	<div id="al_west" class="col-lg-3 col-lg-offset-1">
		<%= render partial: 'division_teams.html', collection: @franchises.al_west.alphabetical, as: :franchise %>
	</div>
	<div id="al_central" class="col-lg-3 col-lg-offset-1">
		<%= render partial: 'division_teams.html', collection: @franchises.al_central.alphabetical, as: :franchise %>
	</div>
	<div id="al_east" class="col-lg-3 col-lg-offset-1">
		<%= render partial: 'division_teams.html', collection: @franchises.al_east.alphabetical, as: :franchise %>
	</div>
</div>

<div class="row">
	<div id="nl_west" class="col-lg-3 col-lg-offset-1">
		<%= render partial: 'division_teams.html', collection: @franchises.nl_west.alphabetical, as: :franchise %>
	</div>
	<div id="nl_central" class="col-lg-3 col-lg-offset-1">
		<%= render partial: 'division_teams.html', collection: @franchises.nl_central.alphabetical, as: :franchise %>
	</div>
	<div id="nl_east" class="col-lg-3 col-lg-offset-1">
		<%= render partial: 'division_teams.html', collection: @franchises.nl_east.alphabetical, as: :franchise %>
	</div>
</div>
