<h2>Franchise: <%= @franchise.full_name %></h2>

<% unless notice.nil? %>
<div class="alert alert-warning" id="notice"><%= notice %></div>
<% end %>

<div class="row">
	<div class="col-lg-4">
		<h4>Teams</h4>
		<table class="table table-condensed">
			<% %w(MLB AAA AA A+ A A-SS R).each do |level| %>
				<% @teams.each do |team| %>
					<% if team.level == level %>
					<tr>
						<td><%= team.level %></td>
						<td><%= link_to team.full_name, team %></td>
					</tr>
					<% end %>
				<% end %>
			<% end %>
		</table>
		
	</div>
	
	<!-- PLAYERS SECTION -->
	<div class="col-lg-8">
		<h4>Players</h4>
		<table class="table table-condensed">
			<% @players.each do |player| %>
			<%= render player %>
			<% end %>
		</table>
	</div>
</div>
