<table class="table table-condensed">
	<% @players.each do |p| %>
	<tr class="<%= 'danger' if p.on_dl %>">
		<td><%= p.position %>
		<td><%= link_to p.first_last, p %></td>
		<td>
			<% unless p.team.nil? %>
			<%= link_to "#{p.team.city} [#{p.team.level}]", p.team %>
			<% end %>
		</td>
		<td><%= p.bats %> / <%= p.throws %></td>
		<td><%= p.height / 12 %>'<%= p.height % 12 %>"</td>
		<td><%= p.weight  %></td>
		<td><%= p.age %></td>
		<td><%= p.birth_date %></td>
	</tr>
	<% end %>
</table>