
	<tr class="<%= 'danger' if player.on_dl %> <%= 'warning' if player.unavailable? %>">
		<td><%= player.position %>
		<td><%= link_to player.first_last, player %></td>
		<td>
			<% if player.team.nil? %>
				<% if player.dfa? %>
				DFA
				<% end %>
			<% else %>
			<%= link_to "#{player.team.city} [#{player.team.level}]", player.team %>
			<% end %>
		</td>
		<td><%= player.bats %> / <%= player.throws %></td>
		<td><%= player.height / 12 %>'<%= player.height % 12 %>"</td>
		<td><%= player.weight  %></td>
		<td><%= player.age %></td>
		<td><%= player.birth_date %></td>
		<td id="player_<%= player.id %>_controls"><%= render 'players/controls', player: player %></td>
		</td>
	</tr>
