<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>MLB Organization Chart</title>

		<script type="text/javascript" src="//use.typekit.net/wtk2yye.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
	</head>
	<body class="<%= controller.controller_name %>">
		<div class="container">
			<%= yield %>
		</div>

		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</body>
</html>
